---
// Components
import Item from "./Item.astro";
import FeaturesAnimation from "@components/FeaturesAnimation.astro";

// Assets
import img1 from "@assets/images/camping1.jpg";
import img2 from "@assets/images/paragliding3.jpg";
import img3 from "@assets/images/paragliding1.jpg";
---

<section id="features">
    <ul class="container">
        <Item
            text="Diverse Adventure Activities"
            img={img1.src}
            backgroundPosition="75% 50%"
            animationDelay="delay-1"
        />
        <Item
            text="Unforgettable Thrilling Experiences"
            img={img2.src}
            backgroundPosition="85% 20%"
            animationDelay="delay-2"
        />
        <Item
            text="Expand Your Horizons"
            img={img3.src}
            animationDelay="delay-3"
        />
    </ul>
    <FeaturesAnimation />
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: 8rem;
        background: linear-gradient(to left, #484b7d, #1c1f4c);
        color: whitesmoke;
        position: relative;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        row-gap: 6rem;
        text-align: center;
    }

    @media screen and (width < 480px) {
        section {
            padding-block: 6rem;
        }

        ul {
            flex-direction: column;
            row-gap: 4rem;
        }
    }
</style>
