---
// Components
import Section from "../../../Section.astro";
import Item from "./Item.astro";
---

<Section id="features" backgroundColor="#000" color="white">
    <ul>
        <Item text="One" />
        <Item text="Two" />
        <Item text="Three" />
        <Item text="Four" />
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    li {
        list-style: none;
    }
</style>
