---
// Components
import Section from "../../../Section.astro";
---

<Section id="features" backgroundColor="#000" color="white">
    <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
        <li>Five</li>
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    li {
        list-style: none;
    }
</style>
