---
// Components
import Item from "./Item.astro";
import FeaturesAnimation from "@components/FeaturesAnimation.astro";

// Assets
import camping from "@assets/images/camping.jpg";
import background from "@assets/images/background.jpg";
import footer from "@assets/images/footer.jpg";
---

<section id="features">
    <ul class="container">
        <Item
            text="Adventure filled activities"
            img={camping.src}
            animationDelay="delay-1"
        />
        <Item
            text="Unforgettable thrilling experiences"
            img={background.src}
            animationDelay="delay-2"
        />
        <Item
            text="Expand your horizons"
            img={footer.src}
            animationDelay="delay-3"
        />
    </ul>
    <FeaturesAnimation />
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: 8rem;
        background: linear-gradient(to left, #484b7d, #1c1f4c);
        color: whitesmoke;
        position: relative;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 6rem;
        text-align: center;
    }

    @media screen and (width < 480px) {
        section {
            padding-block: 6rem;
        }

        ul {
            flex-direction: column;
            row-gap: 4rem;
        }
    }
</style>
