---
// Props
interface Props {
    img?: string;
    text: string;
    animationDelay?: string;
}
const { img, text, animationDelay } = Astro.props;
---

<li class="animate view-timeline" class:list={[animationDelay]}>
    <div id="image-container" style={`background-image: url('${img}')`}></div>
    <div>
        <p>{text}</p>
    </div>
</li>

<style>
    li {
        width: 30%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        animation-name: fade, fly, scale;
        --fly-from: -50px -20px;
        z-index: 4;
        transition: transform var(--transition-duration);
    }

    li:hover {
        transform: scale(1.05);
    }

    #image-container {
        --size: 100px;
        background-size: cover;
        border-radius: 50%;
        width: var(--size);
        height: var(--size);
        outline: 4px solid var(--color-white);
        outline-offset: 4px;
        box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25);
        transition: box-shadow var(--transition-duration);
    }

    li:hover #image-container {
        box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.25);
    }

    .delay-1 {
        animation-delay: 150ms;
    }

    .delay-2 {
        animation-delay: 400ms;
    }

    .delay-3 {
        animation-delay: 750ms;
    }

    img {
        width: var(--size);
    }
</style>
