---
// Props
interface Props {
    img?: string;
    alt?: string;
    text: string;
    animationDelay?: string;
}
const { img, alt, text, animationDelay } = Astro.props;
---

<li class="animate view-timeline" class:list={[animationDelay]}>
    <div id="image-container">
        <img src={img} alt={alt} />
    </div>
    <div>
        <p>{text}</p>
    </div>
</li>

<style>
    li {
        width: 30%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        animation-name: fade, fly, scale;
        --fly-from: -50px -20px;
    }

    #image-container {
        --size: 100px;
        background-color: gray;
        border-radius: 50%;
        width: var(--size);
        height: var(--size);
        overflow: hidden;
    }

    .delay-1 {
        animation-delay: 150ms;
    }

    .delay-2 {
        animation-delay: 400ms;
    }

    .delay-3 {
        animation-delay: 750ms;
    }

    img {
        width: var(--size);
    }
</style>
