---
// Library
import { getImage } from "astro:assets";

// Props
interface Props {
    /** The height occupied by the Hero section */
    height?: string;
}
const { height = "45dvh" } = Astro.props;

// Assets
import background from "@assets/images/adventure-kit.jpg";

const optimizedBackground = await getImage({
    src: background,
    width: 1920,
    format: "avif",
    quality: "mid",
});
---

<section style={`background-image: url("${optimizedBackground.src}")`}>
    <div class="container">
        <h1>Gallery</h1>
    </div>
</section>

<style define:vars={{ height }}>
    section {
        --section-scale: 1;
        --section-height: calc(
            (var(--height) * var(--section-scale)) + var(--header-height)
        );
        --section-border-radius: 28px;

        height: var(--section-height);
        background-color: white;
        background-position: center top;
        position: relative;
    }

    section::after {
        content: "";
        position: absolute;
        bottom: 0;

        width: 100%;
        height: var(--section-border-radius);
        border-top-left-radius: var(--section-border-radius);
        border-top-right-radius: var(--section-border-radius);
        background-color: inherit;
    }

    div {
        height: var(--section-height);
        display: grid;
        place-content: center;
        padding-top: calc(var(--header-height) - var(--section-border-radius));
    }

    h1 {
        font-size: calc(2 * var(--font-size-xxl));
        color: var(--color-white);
        text-transform: uppercase;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }

    @media screen and (width <= 768px) {
        section {
            --section-scale: 0.75;
            background-position: 45% 10%;
        }

        h1 {
            font-size: var(--font-size-xxl);
        }
    }
</style>
