<section>
    <div class="container">
        <h1>Gallery</h1>
    </div>
</section>

<style>
    section {
        min-height: 30dvh;
        background-color: var(--color-blue);
    }

    div {
        height: 100%;
        display: grid;
        place-content: center;
        padding-top: 10dvh;
    }

    h1 {
        font-size: calc(2 * var(--font-size-xxl));
        color: var(--color-white);
    }
</style>
