---
// Library
import { getImage } from "astro:assets";

// Props
interface Props {
    height?: string;
}
const { height = "40dvh" } = Astro.props;

// Assets
import background from "@assets/images/adventure-kit.jpg";

const optimizedBackgroundImage = await getImage({
    src: background,
    width: 1920,
    format: "avif",
    quality: "mid",
});
---

<section style={`background-image: url("${optimizedBackgroundImage.src}")`}>
    <div class="container">
        <h1>Gallery</h1>
    </div>
</section>

<style define:vars={{ height }}>
    section {
        min-height: var(--height);
        background-color: var(--color-blue);
        background-position: center top;
    }

    div {
        height: 100%;
        display: grid;
        place-content: center;
        padding-top: calc(0.5 * var(--height) - 2dvh);
    }

    h1 {
        font-size: calc(2 * var(--font-size-xxl));
        color: var(--color-white);
        text-transform: uppercase;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        z-index: 10;
    }
</style>
