---
// Library
import { getImage } from "astro:assets";

// Components
import Button from "../../../Button.astro";

// Assets
import background from "@assets/images/parasailing1.jpg";

const optimizedBackgroundImage = await getImage({
    src: background,
    width: 1920,
    loading: "eager",
    format: "avif",
    fallbackFormat: "webp",
    quality: "mid",
});
---

<section style={{ backgroundImage: `url("${optimizedBackgroundImage.src}")` }}>
    <div id="hero-container" class="container animate">
        <div id="call-to-action">
            <div id="cta-text">
                <p>Answer the call of</p>
                <p id="highlight">Adventure</p>
            </div>
            <div id="cta-buttons">
                <Button id="book-now" variant="solid" color="white" size="large"
                    >Book Now!</Button
                >
                <Button id="explore" variant="outline" size="large"
                    >Explore</Button
                >
            </div>
        </div>
        <div></div>
    </div>
    <div id="install-button-cta">
        <Button id="install-button" color="white">Install App</Button>
    </div>
</section>

<script>
    import { navigate } from "astro:transitions/client";

    let bookNow = document.getElementById("book-now");
    bookNow?.addEventListener("click", () => navigate("#contact"));

    let explore = document.getElementById("explore");
    explore?.addEventListener("click", () => navigate("#about-us"));

    let install = document.getElementById("install-button");
    install?.addEventListener("click", () =>
        dispatchEvent(new Event("showinstallprompt")),
    );
</script>

<!-- Photo by <a href="https://unsplash.com/@awbraga?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Alex Braga</a> on <a href="https://unsplash.com/photos/a-person-is-parasailing-in-the-blue-sky-_uCIkkXC2ns?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> -->

<style>
    section {
        min-height: 100dvh;
        background-size: cover;
        background-position: 0% 65%;
        background-color: var(--color-blue);
    }

    #hero-container {
        height: 100dvh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        --fly-from: 0 40px;
        animation:
            fade 500ms 750ms both,
            fly 500ms 750ms both;
    }

    #hero-container > div {
        flex: 1;
    }

    #call-to-action {
        text-align: center;
        color: #333;
        font-size: var(--font-size-xxl);
    }

    #cta-text {
        display: flex;
        flex-direction: column;
        font-family: var(--font-family-cursive);
        font-style: italic;
        line-height: 1.15;
    }

    #highlight {
        color: var(--color-white);
        font-size: calc(2.5 * var(--font-size-xxl));
    }

    #cta-buttons {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    @media screen and (width < 480px) {
        section {
            background-position: 45% 45%;
        }

        #call-to-action {
            background-color: rgba(255, 255, 255, 0.15);
            color: var(--color-black);
            padding-block: 5rem;
            border-radius: 8px;
            backdrop-filter: blur(30px);
        }

        #hero-container > div:last-child {
            flex: 0;
        }
    }

    #install-button-cta {
        position: absolute;
        top: calc(100dvh - 4rem);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
