---
// Components
import Button from "../../../Button.astro";
---

<section>
    <div id="hero-container" class="contained">
        <div id="call-to-action">
            <p>Answer the call of</p>
            <p id="highlight">Adventure</p>
            <div id="buttons">
                <Button variant="solid" color="white" size="large"
                    >Book Now!</Button
                >
                <Button variant="outline" size="large">Explore</Button>
            </div>
        </div>
        <div></div>
    </div>
</section>

<!-- Photo by <a href="https://unsplash.com/@awbraga?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Alex Braga</a> on <a href="https://unsplash.com/photos/a-person-is-parasailing-in-the-blue-sky-_uCIkkXC2ns?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> -->

<style>
    section {
        min-height: 100dvh;
        background-image: url("/background.jpg");
        background-size: cover;
        background-position: 0% 45%;
    }

    #hero-container {
        height: 100dvh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #hero-container > div {
        flex: 1;
    }

    #call-to-action {
        text-align: center;
        color: #333;
        font-size: 2rem;
    }

    #highlight {
        color: var(--color-white);
        font-size: 5rem;
    }

    #buttons {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
</style>
