---
// Components
import Input from "@components/Input.astro";
import Button from "@components/Button.astro";
---

<!-- @ts-ignore -->
<form
    id="contact-form"
    name="contact-form"
    class="animation-stagger"
    data-netlify
    method="post"
>
    <Input name="name" label="Name" type="text" required />

    <Input name="email" label="Email" type="email" required />

    <Input name="phone" label="Phone Number" type="tel" required />

    <Input name="message" label="Message" isTextArea />

    <div class="animate view-timeline">
        <Button btnType="submit">Submit</Button>
    </div>
</form>

<style>
    form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
        padding-right: 8rem;
    }

    div {
        margin-top: 1rem;
        animation-name: fade, fly;
        --fly-from: 25px 0;
    }

    @media screen and (width <= 1200px) {
        form {
            padding: 2rem;
            gap: 1rem;
            align-items: center;
        }

        div {
            margin-top: 0.75rem;
        }
    }
</style>
