<div>
    <form>
        <div>
            <label for="name"></label>
            <input name="name" type="text" />
        </div>

        <div>
            <label for="email"></label>
            <input name="email" type="email" />
        </div>

        <div>
            <label for="phone"></label>
            <input name="name" type="number" />
        </div>

        <div>
            <label for="message"></label>
            <textarea name="message"></textarea>
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
