---
// Components
import Section from "../../../Section.astro";
---

<Section id="contact">
    <p>Subscribe to keep in touch</p>
    <div>
        <input type="text" />
        <button>Subscribe</button>
    </div>
</Section>
