---
// Components
import Details from "./Details.astro";
import Map from "@components/Map.astro";
import Form from "./Form.astro";
---

<section id="contact">
    <div id="title" class="animate view-timeline">
        <p>Ready to embark on an adventure of a lifetime?</p>
        <h2>Contact Us</h2>
    </div>
    <div class="wrapper">
        <div id="details" class="flex">
            <Details />
        </div>
        <div id="map" class="flex animate view-timeline">
            <Map />
        </div>
        <div id="form" class="flex">
            <Form />
        </div>
    </div>
</section>

<style>
    #contact {
        max-width: 1680px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding: 8rem 2rem;
    }

    #title {
        text-align: center;
        animation-name: fade, fly;
        --fly-from: 0px -25px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        gap: 2rem;
    }

    #map {
        animation-name: fade, fly, scale;
        --fly-from: 0 50px;
    }

    @media screen and (width <= 1200px) {
        #contact {
            padding: 6rem 0rem 0rem 0rem;
        }

        .wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fit, 1fr);
            gap: 4rem;
        }

        #form {
            grid-row: 1;
        }

        #details {
            grid-row: 2;
        }

        #map {
            grid-row: 3;
        }
    }
</style>
