---
// Components
import Section from "../../../Section.astro";
import Map from "../../../Map.astro";
---

<Section id="contact" padding="8rem">
    <div class="container">
        <p>Ready to embark on an adventure of a lifetime?</p>
        <h2>Contact Us</h2>
        <div id="contact-main">
            <Map />
            <div id="contact-details">
                <div><h3 class="bold">Mobile:</h3>7042065607</div>
                <div><h3 class="bold">Email:</h3>admin@para-karam.com</div>
                <div>
                    <h3 class="bold">Address:</h3>309, Shopping Square 1, <br />
                    Sector-D, Sushant Golf City, <br />
                    Lucknow, Uttar Pradesh
                </div>
            </div>
        </div>
    </div>
</Section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .bold {
        font-weight: bold;
    }

    #contact-main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        margin-top: 2rem;
    }

    #contact-details {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.25em;
    }
</style>
