/* ========== */
/* ANIMATIONS */
/* ========== */

.animate {
    animation-name: var(--animation-name, fade);
    animation-duration: var(--animation-duration, 500ms);
    animation-timing-function: var(--animation-timing-function, ease);
    animation-fill-mode: var(--animation-fill-mode, both);
    animation-direction: var(--animation-direction);

    --animation-order: 0;
    --animation-delay-base: 0ms;
    --animation-delay-slope: 100ms;
    --animation-delay-power: 1;
    --animation-delay: calc(var(--animation-delay-slope) * pow(var(--animation-order), var(--animation-delay-power)) + var(--animation-delay-base));
    animation-delay: var(--animation-delay, 0ms);
}

@supports (animation-timeline: view) {
    .view-timeline {
        animation-timeline: view(var(--view-offset, 0));
        animation-range: var(--animation-range, entry 50% cover 50%);
    }
}

@keyframes fade {
    from {
        opacity: var(--fade-from, 0);
    }

    to {
        opacity: var(--fade-to, 1);
    }
}

.fade {
    animation-name: fade;
}

@keyframes fly {
    from {
        translate: var(--fly-from, 0 20px);
    }

    to {
        translate: var(--fly-to, 0 0px);
    }
}

.fly {
    animation-name: fly;
}

@keyframes scale {
    from {
        scale: var(--scale-from, 0.9);
    }

    to {
        scale: var(--scale-to, 1);
    }
}

.scale {
    animation-name: scale;
}

@keyframes blur {
    from {
        backdrop-filter: blur(var(--blur-from, 0px));
    }

    to {
        backdrop-filter: blur(var(--blur-to, 40px));
    }
}

.blur {
    animation-name: blur;
}
