---
// Components
import Layout from "@src/layouts/Layout.astro";
import Header from "@components/Header/index.astro";
import Hero from "@components/pages/gallery/Hero.astro";
import Footer from "@components/Footer/index.astro";
---

<Layout title="Gallery | Para-Karam">
    <Header />
    <main>
        <Hero />
    </main>
    <Footer />
</Layout>
