---
// Components
import Header from "../components/Header/index.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Para-Karam">
	<Header />
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
	</main>
</Layout>

<style></style>
