---
// Components
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/index.astro";
import Hero from "../components/Hero/index.astro";
import Activities from "../components/Activities/index.astro";
---

<Layout title="Para-Karam">
	<Header />
	<main>
		<Hero />
		<Activities />
	</main>
</Layout>

<style></style>
