---
// Components
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/index.astro";

import Hero from "../components/pages/index/Hero/index.astro";
import AboutUs from "../components/AboutUs/index.astro";
import Activities from "../components/pages/index/Activities/index.astro";
import Features from "../components/pages/index/Features/index.astro";
import Contact from "../components/pages/index/Contact/index.astro";
import Testimonials from "../components/pages/index/Testimonials/index.astro";

import Footer from "../components/Footer/index.astro";
---

<Layout title="Para-Karam">
	<Header />
	<main>
		<Hero />
		<AboutUs title="Para-Karam" />
		<Activities />
		<Features />
		<Contact />
		<!-- <Testimonials /> -->
	</main>
	<Footer />
</Layout>

<style></style>
