---
// Components
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header/index.astro";

import Hero from "../components/pages/our-team/Hero.astro";
import AboutUs from "../components/AboutUs/index.astro";
import Team from "../components/pages/our-team/OurTeam.astro";
import OurVision from "../components/pages/our-team/OurVision.astro";
import Commitment from "../components/pages/our-team/OurCommitment.astro";

import Footer from "../components/Footer/index.astro";
---

<Layout title="Our Team | Para-Karam">
    <Header />
    <main>
        <Hero />
        <Team />
        <AboutUs showLink={false} />
        <OurVision />
        <Commitment />
    </main>
    <Footer />
</Layout>
