---
// Components
import Logo from "../Logo.astro";
import Navigation from "./Navigation.astro";
---

<header class="flex animate fly">
    <div class="container flex">
        <span class="animate"><Logo /></span>
        <Navigation />
    </div>
</header>

<style>
    header {
        position: absolute;
        top: 0;
        left: 0;

        height: 10dvh;
        width: 100%;

        background-color: transparent;
        backdrop-filter: blur(40px);
        transition: backdrop-filter var(--transition-duration);
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.125);

        --base-animation-delay: 750ms;

        --fly-from: 0 -10dvh;
        --animation-delay: var(--base-animation-delay);
    }

    header:hover {
        backdrop-filter: blur(80px);
    }

    div {
        justify-content: space-between;
        color: var(--color-white);
    }

    span.animate {
        --fly-from: 0 -100px;
        animation-name: fly;
        animation-timing-function: ease-out;
        animation-delay: var(--base-animation-delay);
    }

    @media screen and (width <= 900px) {
        div{
            justify-content: space-around;
        }
    }
</style>
