---
// Components
import Logo from "@components/Logo.astro";
import Navigation from "./Navigation.astro";

// Props
interface Props {
    float?: boolean;
}
const { float = true } = Astro.props;
---

<header class="flex animate fly" class:list={{ float }}>
    <div class="container flex">
        <span class="animate"><Logo /></span>
        <Navigation />
    </div>
</header>

<style>
    header {
        height: var(--header-height);

        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.125);

        --fly-from: 0 calc(-1 * var(--header-height));
        --base-animation-delay: 750ms;
        --animation-delay: var(--base-animation-delay);

        &.float {
            position: absolute;
            inset: 0 0;
            z-index: 1;
            background-color: transparent;
            color: var(--color-white);
            backdrop-filter: blur(40px);
            transition: backdrop-filter var(--transition-duration);
        }

        &.float:hover {
            backdrop-filter: blur(80px);
        }
    }

    div {
        justify-content: space-between;
    }

    span.animate {
        --fly-from: 0 -100px;
        animation-name: fly;
        animation-timing-function: ease-out;
        animation-delay: var(--base-animation-delay);
    }

    @media screen and (width <= 900px) {
        div {
            justify-content: space-around;
        }
    }
</style>
