---
const routes = [
    ["Home", "/"],
    ["Activities", "/#activities"],
    ["Gallery", "/gallery"],
    ["Contact Us", "/#contact"],
    ["Our Team", "/our-team"]
]
---

<nav>
    <div id="menu-icon">&#9776;</div>
    <ul id="nav-links">
        {routes.map(([text, route]) => (
            <li class="fly-in">
                <a href={route}>{text}</a>
            </li>
        ))}
    </ul>
</nav>

<script>
    document.addEventListener("astro:page-load", () => {
        const navLinks = document.getElementById("nav-links")!;
        const menuIcon = document.getElementById("menu-icon")!;
        const navElements = document.querySelectorAll("#nav-links li");

        function toggleMenu() {
            if (navLinks.classList.contains("open")) {
                navLinks.classList.remove("open")
                menuIcon.innerHTML = "&#9776;" 
                navElements.forEach(e => e.classList.add("fly-in"))
            } else {
                navLinks.classList.add("open")
                menuIcon.innerHTML = "&#10006;"
                navElements.forEach(e => e.classList.remove("fly-in"))
            }
        }

        menuIcon.addEventListener('click', toggleMenu)
    })
</script>

<style>
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }

    #menu-icon {
        display: none;
        font-size: 2rem;
        cursor: pointer;
    }

    @media screen and (width <= 1200px) {
        nav ul {
            font-size: var(--font-size-sm);
            gap: 1rem;
        }
    }

    @media screen and (width <= 900px) {
        #menu-icon {
            display: block;
        }

        nav ul {
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 10dvh;
            left: 0;
            height: 90dvh;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.95);
            display: none;
            gap: 2rem;
            padding: 2rem;
        }

        nav ul.open {
            display: flex;
            gap: 4rem;
        }

        nav li {
            width: 100%;
            text-align: center;
            font-size: var(--font-size-lg);
        }
    }

    nav li {
        list-style: none;
        cursor: pointer;
        font-weight: 600;
        --fly-from: 0 -100px;
        animation-delay: 500ms;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
        padding: 0.125rem 0.5rem;
        border-radius: 4px;
    }

    nav li:hover, nav li:has(a:focus) {
        background-color: var(--color-white);
        color: var(--color-black);
    }

    nav li:nth-child(1) {
        animation-duration: 650ms;
    }

    nav li:nth-child(2) {
        animation-duration: 850ms;
    }

    nav li:nth-child(3) {
        animation-duration: 1100ms;
    }

    nav li:nth-child(4) {
        animation-duration: 1500ms;
    }

    nav li:nth-child(5) {
        animation-duration: 1850ms;
    }

    a {
        text-decoration: none;
        color: inherit;

        &:focus {
            outline: none;
        }
    }
</style>
