---
const routes = [
    ["Home", "/"],
    ["Activities", "/#activities"],
    ["Gallery", "/gallery"],
    ["Contact Us", "/#contact"],
    ["Our Team", "/our-team"],
];
---

<nav>
    <div id="menu-icon">&#9776;</div>
    <ul id="nav-links">
        {
            routes.map(([text, route]) => (
                <li class="animate fly">
                    <a href={route}>{text}</a>
                </li>
            ))
        }
    </ul>
</nav>

<script>
    const navLinks = document.getElementById("nav-links")!;
    const menuIcon = document.getElementById("menu-icon")!;
    const navElements = document.querySelectorAll("#nav-links li");
    const cta = document.getElementById("call-to-action")!;

    function toggleMenu() {
        if (navLinks.classList.contains("open")) {
            navLinks.classList.remove("open");
            menuIcon.innerHTML = "&#9776;";
            navElements.forEach((e) => e.classList.add("animate", "fly"));
            cta.style.display = "block";
        } else {
            navLinks.classList.add("open");
            menuIcon.innerHTML = "&#10006;";
            navElements.forEach((e) => e.classList.remove("animate", "fly"));
            cta.style.display = "none";
        }
    }

    menuIcon.addEventListener("click", toggleMenu);
</script>

<style>
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }

    #menu-icon {
        display: none;
        font-size: var(--font-size-xl);
        cursor: pointer;
    }

    @media screen and (width <= 1200px) {
        nav ul {
            gap: 1rem;
        }
    }

    @media screen and (width <= 900px) {
        #menu-icon {
            display: block;
        }

        nav ul {
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: var(--header-height);
            left: 0;
            height: calc(100dvh - var(--header-height));
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            gap: 2rem;
            padding: 2rem;
        }

        nav ul.open {
            display: flex;
            gap: 4rem;
        }

        nav li {
            width: 100%;
            text-align: center;
            font-size: var(--font-size-lg);
        }
    }

    nav li {
        list-style: none;
        cursor: pointer;
        font-weight: 600;
        --fly-from: 0 -100px;
        animation-delay: 500ms;
        animation-duration: 500ms;
        animation-timing-function: ease-in-out;
        padding: 0.125rem 0.5rem;
        border-radius: 4px;
    }

    nav li:hover,
    nav li:has(a:focus) {
        background-color: var(--color-white);
        color: var(--color-black);
    }

    nav li:nth-child(1) {
        animation-duration: calc(var(--base-animation-delay) + 50ms);
    }

    nav li:nth-child(2) {
        animation-duration: calc(var(--base-animation-delay) + 100ms);
    }

    nav li:nth-child(3) {
        animation-duration: calc(var(--base-animation-delay) + 150ms);
    }

    nav li:nth-child(4) {
        animation-duration: calc(var(--base-animation-delay) + 250ms);
    }

    nav li:nth-child(5) {
        animation-duration: calc(var(--base-animation-delay) + 400ms);
    }

    a {
        text-decoration: none;
        color: inherit;

        &:focus {
            outline: none;
        }
    }
</style>
