---
// Types
import type { HTMLAttributes } from "astro/types";

// Props
interface Props extends HTMLAttributes<"button"> {
    color?: "white" | "blue";
    variant?: "solid" | "outline";
    size?: "small" | "large";
}
const { size, ...rest } = Astro.props;
const variant = Astro.props.variant ?? "solid";
const color = Astro.props.color ?? "blue";
---

<button class:list={[color, variant, size]} {...rest}>
    <slot />
</button>

<style>
    button {
        padding: 0.5rem 1rem;
        border-radius: 100px;
        transition:
            transform 100ms ease-in-out,
            outline 100ms ease-out;
        outline: 0px solid var(--color-white);
    }

    button:hover,
    button:focus {
        transform: scale(1.05);
        outline-width: 3px;
        outline-offset: 4px;
    }

    .white {
        --background-color: var(--color-white);
        --color: var(--color-black);
    }

    .blue {
        --background-color: var(--color-blue);
        --color: var(--color-white);
    }

    .solid {
        background-color: var(--background-color);
        color: var(--color);
        border: 2px solid var(--background-color);
    }

    .outline {
        background-color: transparent;
        color: var(--color);
        border: 2px solid var(--color);
    }

    .small {
        font-size: var(--font-size-sm);
    }

    .large {
        font-size: var(--font-size-lg);
        padding: 0.75rem 2rem;
    }
</style>
