---
// Components
import { Image } from "astro:assets";

// Assets
import logo from "@assets/logo.png";

// Props
interface Props {
    icon?: boolean;
    text?: boolean;
    fontSize?: string;
    iconSize?: number;
    gap?: string;
}
const {
    icon = true,
    text = true,
    iconSize = 48,
    fontSize = "2rem",
    gap = "0.5rem",
} = Astro.props;
---

<a href="/" class="logo-container">
    {
        icon && (
            <div class="logo">
                <Image
                    src={logo}
                    alt="logo"
                    width={iconSize}
                    height={iconSize}
                    format="avif"
                    quality="max"
                />
            </div>
        )
    }
    {text && <div class="name">Para-Karam</div>}
</a>

<style define:vars={{ iconSize, fontSize, gap }}>
    .logo-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap);
        padding-inline: 1rem;
        transition: all var(--transition-duration);
    }

    .logo-container:hover,
    .logo-container:focus {
        color: var(--color-white);
        text-shadow: 0 0 16px var(--color-white);
    }

    .logo {
        width: var(--iconSize);
        height: var(--iconSize);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        transition: all var(--transition-duration);
        overflow: hidden;
    }

    .logo-container:hover .logo,
    .logo-container:focus .logo {
        scale: 1.05;
        box-shadow: 0 0 4px 2px var(--color-white);
    }

    @container (width <= 768px) {
        .logo-container {
            flex-direction: column;
            justify-content: center;
        }

        .logo {
            width: calc(2 * var(--iconSize));
            height: calc(2 * var(--iconSize));
        }
    }

    .name {
        font-size: var(--fontSize);
        text-wrap: nowrap;
    }
</style>
