---
// Props
interface Props {
    id?: string;
    backgroundColor?: string;
    color?: string;
    padding?: string;
}
const { id, backgroundColor, color, padding } = Astro.props;
---

<section id={id}>
    <div class="container">
        <slot />
    </div>
</section>

<style define:vars={{ backgroundColor, color, padding }}>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: var(--padding, 5rem);
        background-color: var(--backgroundColor, white);
        color: var(--color, black);
    }
</style>
