---
// Assets
import camping from "@assets/images/camping1.jpg";
import paragliding from "@assets/images/paragliding1.jpg";
import parasailing from "@assets/images/parasailing1.jpg";
import trekking from "@assets/images/trekking.jpg";
---

<div id="grid">
    <div
        class="grid-item top animate view-timeline"
        style={{ backgroundImage: `url("${camping.src}")` }}
    >
        Camping
    </div>
    <div
        class="grid-item side animate view-timeline"
        style={{ backgroundImage: `url("${paragliding.src}")` }}
    >
        Parasailing
    </div>
    <div
        class="grid-item bottom-1 animate view-timeline"
        style={{ backgroundImage: `url("${parasailing.src}")` }}
    >
        Adventure Sports
    </div>
    <div
        class="grid-item bottom-2 animate view-timeline"
        style={{ backgroundImage: `url("${trekking.src}")` }}
    >
        Trekking
    </div>
</div>

<style>
    #grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        max-width: 840px;
        margin: 0 auto;
    }

    @media screen and (width < 480px) {
        #grid {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-inline: 1rem;
        }
    }

    .grid-item {
        background-color: #333;
        border-radius: 8px;
        transition-property: scale, opacity, filter;
        transition-duration: var(--transition-duration);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 1rem 2rem;
        color: white;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.125);
        animation-name: fade, fly;
        --view-offset: -20dvh;
    }

    @media screen and (width < 480px) {
        .grid-item {
            width: 100%;
            height: 16rem;
        }
    }

    .grid-item:hover {
        scale: 1.0175;
    }

    #grid:hover :not(.grid-item:hover) {
        opacity: 0.8;
        filter: grayscale(75%);
    }

    #grid .top {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
        height: 16rem;
        background-size: cover;
        background-position: 0 100%;
        --fly-from: -50px 0px;
    }

    #grid .side {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        background-size: cover;
        background-position: 30% 0%;
        --fly-from: 75px 0;
    }

    #grid .bottom-1 {
        background-size: cover;
        background-position: 80% 0%;
        --fly-from: -75px 0;
    }

    #grid .bottom-2 {
        background-size: cover;
        background-position: 30% 0%;
        --fly-from: 0 60px;
    }
</style>
