---
// Components
import Slider from "./Slider.astro";
---

<section>
    <div id="activities" class="contained">
        <div id="title">
            <div id="left">
                <h2>Activities</h2>
                <p>Find your adventure</p>
            </div>
            <div id="right">
                <button>View All</button>
            </div>
        </div>
        <Slider />
    </div>
</section>

<style>
    #activities {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #title {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #title.left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #slider {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>
