---
// Components
import Grid from "./Grid.astro";
---

<section>
    <div id="activities" class="flex flex-col">
        <div id="title" class="flex flex-col animate view-timeline">
            <h2>Activities</h2>
            <p>Find your adventure</p>
        </div>
        <Grid />
    </div>
</section>

<style>
    section {
        padding-block: 6rem;
    }

    #activities {
        gap: 4rem;
    }

    #title {
        width: 100%;
        animation-name: fade, scale;
    }
</style>
