---
// Components
import Socials from "./Socials.astro";
import PhoneNumber from "../PhoneNumber.astro";

// Assets
import Phone from "@components/icons/Phone.astro";
import Email from "@components/icons/Email.astro";
---

<div id="contact-details" class="animation-stagger">
    <div id="title">Contact Us</div>
    <div id="details">
        <div class="element">
            <PhoneNumber tel={7042064607} />
            <Phone />
        </div>
        <div class="element">
            <p>admin@para-karam.com</p>
            <Email />
        </div>
    </div>
    <Socials />
</div>

<style>
    #contact-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 1rem;
    }

    #details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        font-size: var(--font-size-xl);
        font-weight: bold;
    }

    @media screen and (width <= 768px) {
        #contact-details {
            align-items: center;
            gap: 1.5rem;
        }

        #details {
            align-items: center;
        }
    }

    #title {
        font-weight: bold;
        animation-delay: 250ms;
    }

    .element {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
    }

    .icon {
        color: white;
    }
</style>
