---
// Components
import Socials from "./Socials.astro";
import PhoneNumber from "../PhoneNumber.astro";
---

<div id="contact-details">
    <div id="title">Contact Us</div>
    <div id="number">
        <PhoneNumber tel={7042064607} />
    </div>
    <Socials />
</div>

<style>
    #contact-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 0.5rem;
    }

    @media screen and (width <= 768px) {
        #contact-details {
            align-items: center;
            gap: 1rem;
        }
    }

    #title {
        font-weight: bold;
    }

    #number {
        font-weight: bold;
        font-size: 2rem;
    }
</style>
