<div id="copyright">Para-Karam © Copyright YYYY. All Rights Reserved.</div>

<script>
    const copyright = document.getElementById("copyright")!;
    copyright.innerText = copyright.innerText.replace(
        "YYYY",
        new Date().getFullYear().toString(),
    );
</script>

<style>
    #copyright {
        color: var(--color-white);
        text-align: center;
        padding-inline: 1rem;
    }
</style>
