---
// Components
import Logo from "@components/Logo.astro";
import Contact from "./Contact.astro";
import Copyright from "./Copyright.astro";

// Assets
import bgImage from "@assets/images/footer.jpg";
---

<!-- Photo by <a href="https://unsplash.com/@chrisk91?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Christian J.</a> on <a href="https://unsplash.com/photos/a-person-is-parasailing-in-the-sky-at-sunset-Ejlj69BGyoE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->
<footer style={{ backgroundImage: `url(${bgImage.src})` }}>
    <div id="footer-info">
        <div class="logo flex animate view-timeline"><Logo /></div>
        <div class="contact flex animate view-timeline"><Contact /></div>
    </div>
    <Copyright />
</footer>

<style>
    footer {
        background-size: 125%;
        background-position-y: 40%;
        padding-block: 4rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        color: var(--color-white);

        container-type: inline-size;

        animation: footer-background auto linear;
        animation-timeline: view();
    }

    #footer-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 12rem 4rem;
    }

    #footer-info .logo {
        animation-name: fade, fly;
        --fly-from: -50px 0;
    }

    #footer-info .contact {
        animation-name: fade, fly;
        --fly-from: 50px 0;
    }

    @media screen and (width <= 768px) {
        footer {
            background-size: cover;
        }

        #footer-info {
            flex-direction: column;
            gap: 4rem;
        }

        #footer-info .logo,
        #footer-info .contact {
            animation-name: fade, scale;
        }
    }

    @keyframes footer-background {
        from {
            background-position-x: 15%%;
        }
        to {
            background-position-x: 100%;
        }
    }
</style>
