---
// Components
import Logo from "@components/Logo.astro";
import Contact from "./Contact.astro";
import Copyright from "./Copyright.astro";

// Assets
import bgImage from "@assets/images/footer.jpg";
---

<!-- Photo by <a href="https://unsplash.com/@chrisk91?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Christian J.</a> on <a href="https://unsplash.com/photos/a-person-is-parasailing-in-the-sky-at-sunset-Ejlj69BGyoE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->
<footer style={`background-image: url("${bgImage.src}")`}>
    <div id="footer-info">
        <Logo />
        <Contact />
    </div>
    <Copyright />
</footer>

<style>
    footer {
        background-size: cover;
        background-position-y: 40%;
        padding-block: 4rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        color: var(--color-white);

        container-type: inline-size;
    }

    #footer-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 12rem 4rem;
    }

    @media screen and (width < 768px) {
        footer {
            background-position-x: 55%;
        }

        #footer-info {
            flex-direction: column;
            gap: 4rem;
        }
    }
</style>
