<ul>
    <li><img src="/icons/social/whatsapp.svg" alt="" /></li>
    <li><img src="/icons/social/youtube.svg" alt="" /></li>
    <li><img src="/icons/social/facebook.svg" alt="" /></li>
    <li><img src="/icons/social/instagram.svg" alt="" /></li>
    <li><img src="/icons/social/twitter.svg" alt="" /></li>
</ul>

<style>
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-top: 0.5rem;
        list-style: none;
    }

    img {
        --size: 36px;
        width: var(--size);
        height: var(--size);
    }
</style>
