<section>
    <div class="contained">
        <h1>OUR TEAM</h1>
    </div>
</section>

<style>
    section {
        height: 40dvh;
        background-image: url("./camping.jpg");
        background-size: cover;
        color: var(--color-white);
    }

    div {
        height: 100%;
        display: grid;
        place-content: center;
        padding-top: 10dvh;
    }
    h1 {
        font-size: calc(2 * var(--font-size-xxl));
    }
</style>
