---
// Assets
import camping from "@assets/images/camping.jpg";
---

<section style={{ backgroundImage: `url("${camping.src}")` }}>
    <div class="container">
        <h1>OUR TEAM</h1>
    </div>
</section>

<style>
    section {
        min-height: 10dvh;
        background-size: cover;
        color: var(--color-white);
    }

    div {
        height: 100%;
        display: grid;
        place-content: center;
        padding-top: 10dvh;
    }
    h1 {
        font-size: calc(2 * var(--font-size-xxl));
        padding-block: 2rem;
    }

    @media screen and (width <= 768px) {
        section {
            background-position-y: 0%;
        }

        h1 {
            padding-block: 0.5rem;
        }
    }
</style>
