---
// Components
import FeaturesAnimation from "@components/FeaturesAnimation.astro";
---

<section>
    <div class="container">
        <h2 class="animate view-timeline">Our Commitment</h2>
        <ol>
            <li class="animate view-timeline">
                Planning and executing adventure activities with utmost safety
                and professionalism
            </li>
            <li class="animate view-timeline">
                Providing trained and certified instructors for all activities
            </li>
            <li class="animate view-timeline">
                Managing logistics, equipment, and safety measures for
                participants
            </li>
            <li class="animate view-timeline">
                Ensuring adherence to sustainable and environmentally friendly
                tourism practices
            </li>
        </ol>
    </div>
    <FeaturesAnimation />
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to left, #484b7d, #1c1f4c);
        color: var(--color-white);
        padding: 6rem 2rem;
        position: relative;
    }

    h2 {
        text-align: center;
        margin-bottom: 4rem;
        animation-name: fade, fly;
        --fly-from: 0 -50px;
    }

    ol {
        max-width: 840px;
        margin: 0 auto;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
        text-align: center;
    }

    li {
        border: 2px solid var(--color-white);
        border-radius: 8px;
        padding: 4rem;
        backdrop-filter: blur(20px) grayscale(0.5);
        transition: all var(--transition-duration);
        z-index: 1;
        animation-name: fade, fly, scale;
        animation-range-start: entry 25%;
        animation-range-end: entry 75%;
    }

    li:nth-of-type(odd) {
        --fly-from: -50px 0;
    }

    li:nth-of-type(even) {
        --fly-from: 50px 0;
    }

    li:hover {
        transform: scale(1.025);
        backdrop-filter: blur(40px) grayscale(0.8);
        box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.125);
    }

    @media screen & (width <= 768px) {
        ol {
            grid-template-columns: none;
        }

        li {
            padding: 1rem;
        }
    }
</style>
