<section>
    <div class="contained">
        <h2>Our Commitment</h2>
        <ol>
            <li>Planning and executing adventure activities with utmost safety and professionalism</li>
            <li>Providing trained and certified instructors for all activities</li>
            <li>Managing logistics, equipment, and safety measures for participants</li>
            <li>Ensuring adherence to sustainable and environmentally friendly tourism practices</li>
        </ol>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #111;
        color: whitesmoke;
        padding: 6rem 2rem;
    }
  
    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }
</style>
