<section>
    <div id="team">
        <div class="member ramesh animate">
            <h2>Group Captain Ramesh Mishra VM (Retd.)</h2>
            <ul>
                <li>
                    Parachute Jump Instructor: 2485 Jumps from 16 aircrafts and
                    helicopters
                </li>
                <li>
                    The first person to jump from 30,000 feet AGL with the
                    indigenous CFF system
                </li>
                <li>Adventure Sports Trainer</li>
            </ul>
        </div>
        <div class="member rajneesh animate">
            <h2>Wing Commander Rajneesh Seth (Retd.)</h2>
            <ul>
                <li>Businessman</li>
                <li>Supply Chain Management</li>
                <li>Quality-Assurance Consultant</li>
            </ul>
        </div>
        <div class="member sanjay animate">
            <h2>Group Captain (Dr.) Sanjay Srivastav (Retd.)</h2>
            <ul>
                <li>Alumni of IIM Lucknow</li>
                <li>Instructor at Indira Gandhi Rashtriya Uran Academy</li>
                <li>AI and Data-Science Consultant</li>
            </ul>
        </div>
    </div>
</section>

<style>
    section {
        padding: 6rem;
    }

    #team {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        color: var(--color-white);
    }

    .member {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 70dvh;
        background-color: #333;
        border-radius: 8px;
        background-position: center;
        background-size: cover;
        transition: scale 125ms ease-out;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.25);
        animation-name: fade, fly;
        animation-duration: 1000ms;
        animation-timing-function: ease-in-out;
    }

    .member:hover {
        scale: 1.025;
    }

    .ramesh {
        background-image: url("/ramesh.jpg");
        --fly-from: -100px 0;
    }

    .rajneesh {
        background-image: url("/rajneesh.jpg");
        --fly-from: 0 0;
    }

    .sanjay {
        background-image: url("/sanjay.jpg");
        background-position: 0%;
        --fly-from: 100px 0;
    }

    h2 {
        width: 100%;
        font-size: var(--font-size);
        padding-block: 1rem;
        text-align: center;
        background-image: linear-gradient(#000, transparent);
    }

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5rem;
        padding-inline: 1rem;
        list-style-type: none;
        text-align: center;
        background-image: linear-gradient(transparent, #000);
        padding-bottom: 2rem;
    }

    @media screen and (width < 480px) {
        #team {
            flex-direction: column;
            padding-inline: 1rem;
            gap: 1rem;
        }

        .member {
            padding-block: 2rem;
        }
    }
</style>
