---
// Library
import { getImage } from "astro:assets";

// Components
import TeamMember from "./TeamMember.astro";

// Assets
import ramesh from "@assets/images/ramesh.jpg";
import rajneesh from "@assets/images/rajneesh.jpg";
import sanjay from "@assets/images/sanjay.jpg";

const optimizedRamesh = await getImage({
    src: ramesh,
    width: 768,
    loading: "eager",
    format: "avif",
});

const optimizedRajneesh = await getImage({
    src: rajneesh,
    width: 768,
    loading: "eager",
    format: "avif",
});

const optimizedSanjay = await getImage({
    src: sanjay,
    width: 768,
    loading: "eager",
    format: "avif",
});

const TEAM = [
    {
        id: "ramesh",
        backgroundImage: optimizedRamesh,
        fullname: "Group Captain Ramesh Mishra VM (Retd.)",
        highlights: [
            "Parachute Jump Instructor: 2485 Jumps from 16 aircrafts and helicopters",
            "The first person to jump from 30,000 feet AGL with the indigenous CFF system",
            "Adventure Sports Trainer",
        ],
    },
    {
        id: "rajneesh",
        backgroundImage: optimizedRajneesh,
        fullname: "Wing Commander Rajneesh Seth (Retd.)",
        highlights: [
            "Businessman",
            "Supply Chain Management",
            "Quality-Assurance Consultant",
        ],
    },
    {
        id: "sanjay",
        backgroundImage: optimizedSanjay,
        fullname: "Group Captain (Dr.) Sanjay Srivastav (Retd.)",
        highlights: [
            "Alumni of IIM Lucknow",
            "Instructor at Indira Gandhi Rashtriya Uran Academy",
            "AI and Data-Science Consultant",
        ],
    },
];
---

<section>
    <div id="team">
        {
            TEAM.map((member, idx) => (
                <div
                    class="animate"
                    data-id={member.id}
                    style={{
                        "--animation-delay-base": "500ms",
                        "--animation-delay-slope": "100ms",
                        "--animation-delay-power": 2,
                        "--animation-order": idx,
                    }}
                >
                    <TeamMember {...member} />
                </div>
            ))
        }
    </div>
</section>

<style>
    section {
        padding-block: min(7.5dvw, 6rem);
        padding-inline: 5dvw;
    }

    #team {
        margin: 0 auto;
        width: min(1440px, 100%);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: var(--fluid-size-l);
        color: var(--color-white);
    }

    .animate {
        width: 100%;
        animation-name: fade, fly;
        animation-duration: 1000ms;
        animation-timing-function: ease-in-out;
    }

    .animate:where([data-id="ramesh"]) {
        --fly-from: -100px 0;
    }

    .animate:where([data-id="rajneesh"]) {
        --fly-from: 0 0;
    }

    .animate:where([data-id="sanjay"]) {
        background-position: 0%;
        --fly-from: 100px 0;
    }

    @media screen and (orientation: portrait) {
        #team {
            flex-direction: column;
        }

        .animate {
            animation-duration: 500ms;
            --fly-from: 0 50px;
        }
    }
</style>
