<section>
    <div class="container">
        <h2>Our Vision</h2>
        <ol>
            <li>To inspire and empower youth through adventure sports, fostering physical fitness, mental resilience, and a spirit of teamwork and discipline.</li>
            <li>To provide safe, exciting, and educational adventure experiences that promote personal growth, environmental stewardship, and a life-long love for outdoor activities.</li>
            <li>To provide unique and thrilling experiences</li>
            <li>Inspiring the youth of Uttar Pradesh to join the defence services</li>
        </ol>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #111;
        color: whitesmoke;
        padding: 6rem 2rem;
    }
  
    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }
</style>
