---
// Assets
import background from "@assets/images/vincentiu-solomon-R86bzJSneuw-unsplash.jpg";
---

<section>
    <img src={background.src} alt="" decoding="async" loading="lazy" />
    <div class="container"></div>
    <h2 class="animate view-timeline">Our Vision</h2>
    <ol>
        <li class="animate view-timeline">
            To inspire and empower youth through adventure sports, fostering
            physical fitness, mental resilience, and a spirit of teamwork and
            discipline.
        </li>
        <li class="animate view-timeline">
            To provide safe, exciting, and educational adventure experiences
            that promote personal growth, environmental stewardship, and a
            life-long love for outdoor activities.
        </li>
        <li class="animate view-timeline">
            To provide unique and thrilling experiences
        </li>
        <li class="animate view-timeline">
            Inspiring the youth of Uttar Pradesh to join the defence services
        </li>
    </ol>
</section>

<style>
    section {
        min-height: 80dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem 2rem;
        position: relative;
    }

    img {
        position: absolute;
        inset: 0 0;
        z-index: -1;
    }

    section::after,
    section::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
    }

    section::after {
        width: 80%;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(20px);
        transform: translate(10%) skew(-15deg);
        animation: glass-slide auto ease-out;
        animation-timeline: view();
        animation-range-start: entry;
        animation-range-end: entry 50%;
    }

    @keyframes glass-slide {
        from {
            background-color: transparent;
            backdrop-filter: blur(0);
            transform: translate(-20%) skew(-15deg);
        }
        to {
            background-color: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(20px);
            transform: translate(10%) skew(-15deg);
        }
    }

    h2 {
        text-align: center;
        margin-bottom: 2rem;
        animation-name: fade, fly, scale;
        --fly-from: 50px -100px;
    }

    ol {
        max-width: 960px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        font-size: 1.125rem;
        gap: 0.5rem;
    }

    li {
        animation-name: fade, fly;
        --fly-from: -75px 100px;
        position: relative;
        padding: 1rem 0.5rem;
    }

    li::before {
        content: "";
        width: 110%;
        position: absolute;
        inset: 0 -5%;
        z-index: -1;
        overflow: hidden;
    }

    li:hover {
        color: var(--color-white);
    }

    li:hover::before {
        background-image: linear-gradient(-15deg, var(--color-blue), #3e3e3e);
        transform: skew(-15deg);
    }

    @media screen and (width <= 768px) {
        section {
            min-height: auto;
        }

        section::after {
            width: 90%;
            transform: translate(5%) skew(0deg);
            animation: none;
        }

        ol {
            font-size: var(--font-size-sm);
            gap: 0;
            padding-inline: 1rem;
        }

        li {
            padding: 0.5rem 0.25rem;
        }
    }
</style>
