---
// Components
import { ViewTransitions } from "astro:transitions";
import ScrollProgressBar from "../components/ScrollProgressBar.astro";

// Props
interface Props {
	title: string;
}
const { title } = Astro.props;

// Styles
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<ViewTransitions />

		<title>{title}</title>
	</head>

	<body>
		<ScrollProgressBar />
		<slot />
	</body>
</html>

<script>
	// Remove the `.unseen` class when the element has been seen
	const observer = new IntersectionObserver((entries) => {
		entries.forEach(entry => {
			if (entry.isIntersecting) {
				entry.target.classList.remove("unseen")
			}
		})
	})

	// Observe all elements that have the `.unseen` class 
	document.querySelectorAll(".unseen").forEach(entry => {
		observer.observe(entry)
	})
</script>
