---
// Components
import { ViewTransitions } from "astro:transitions";
import ScrollProgressBar from "@components/ScrollProgressBar.astro";

// Props
interface Props {
	title: string;
}
const { title } = Astro.props;

// Styles
import "@styles/global.css";
import "@styles/animations.css";
import "@styles/utility.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<ViewTransitions />

		<title>{title}</title>
	</head>

	<body>
		<ScrollProgressBar />
		<slot />
	</body>
</html>
